body {
    background-image: url("../css/minecraft.png");
    background-repeat: no-repeat;

    background-size: cover;
    color: azure;
}

input[type=button] {
    width: 150px;
    height: 150px;
    font-size: 80px;

}

table {
    position: relative;
    border-collapse: collapse;
}

td,
tr {
    position: relative;
    /*refiere al mismo objeto*/
}